<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: header">
<title>About</title>
</head>
<body>

	<div th:include="header :: navbar"></div>
	
	<div class="container"><h2>Modul Human Resource ini dibuat oleh Kelompok 1D yang beranggotakan:<br />
	- Afiq Rasyid Muhammad (1406544072)<br />
	- Clarissa Martallin Winona (1406543990)<br />
	- Muhammad Luqman Hakim (1406623322) </h2></div><br /><br /><br /><br /><br />
		
<div th:include="footer :: footer"></div>


</body>
</html>




