<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
</head>

<body>

	<div th:fragment="footer">
		<footer class="footer-basic-centered"
			style="background-color: #00A0B0;">
			<h2 class="footer-links">
				<a th:href="@{/}">Human Resources Information Systems</a>
			</h2>
			<h4 style="color: white;">
				&copy; 2016 Template by <a style="color: white;"
					href="http://w3layouts.com" target="_blank">w3layouts </a>Edited by
				Kelompok 1D PSP 2016
			</h4>
		</footer>


	</div>

</body>
</html>