<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: header">
<title>Home</title>
</head>
<body>

	<div th:include="header :: navbar"></div>
	<div class="container"><h4>Modul ini digunakan untuk pencatatan administrasi staf, baik dosen (staf akademik), maupun staf pendukung.<br /><br />Modul ini digunakan
untuk menambahkan data staf baru, menghitung gaji dosen berdasarkan sks dan kehadiran di<br /><br />
kelas, dan sebagainya. </h4></div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br /><br />
	<br />
	<div th:include="footer :: footer"></div>

</body>
</html>




