<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: header">
<title>Staf</title>
</head>

<body>
	<div th:include="header :: navbar"></div>

	<div class="container">
		<div class="row">
			<h1 th:text="'Staf pada Prodi '+${namaProdi}"  class="page-header">All Staf</h1>

			<table id="daftarStaf" class="table table-striped table-bordered">
				<thead>
					<tr>
						<th style="font-size: 150%;">No</th>
						<th style="font-size: 150%;">Name</th>
						<th style="font-size: 150%;">NIK</th>
						<th style="font-size: 150%;">Role</th>
						<th style="font-size: 150%;">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="allstaf, iterationStatus: ${staf}">
						<td th:text="${iterationStatus.count}" style="font-size: 150%;"></td>
						<td style="font-size: 150%;" ><a th:href="@{'/staf/view/' + ${allstaf.nik}}"
							th:text="${allstaf.nama}"></a></td>
						<td th:text="${allstaf.nik}" style="font-size: 150%;"></td>
						<td th:text="${allstaf.role}" style="font-size: 150%;"></td>
						<td><a th:href="@{'/staf/update/' + ${allstaf.nik}}" class="btn btn-info" role="button">Edit</a>
							<a th:href="@{'/staf/delete/' + ${allstaf.nik}}" class="btn btn-info" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
	<div th:include="footer :: footer"></div>
	<script>
		$(document).ready(function() {
			$("#daftarStaf").DataTable();
		});
	</script>
</body>

</html>


