<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: header">
</head>
<body>
	<div th:include="header :: navbar"></div>

	<div class="container">
		<div class="row">
			<h1 class="page-header">Edit Staff</h1>
			<label>Isian bertanda * harus diisi</label> <br></br>
			<form action="#" th:action="@{'/staf/update/submit/' + ${nik}}"
				th:object="${staf}" method="POST">

				<div class="form-group">
					<label for="nik">NIK</label> <input type="text" name="nik"
						readonly="readonly" th:field="*{nik}" class="form-control" />
				</div>
				<div class="form-group">
					<label for="idProdi">ID Prodi*</label> <input type="text"
						name="idProdi" required="required" th:field="*{idProdi}"
						class="form-control" />
				</div>
				<div class="form-group">
					<label for="nama">Nama*</label> <input type="text" name="nama"
						required="required" th:field="*{nama}" class="form-control" />
				</div>

				<div class="form-group">
					<label for="role">Role*</label> 
					<select name="role" class="form-control" required="required" th:field="*{role}">
						<option value="" selected="selected" disabled="disabled">-- Select a role --</option>
						<option value="Dekan">Dekan</option>
						<option value="Wakil Dekan">Wakil Dekan</option>
						<option value="Dosen">Dosen</option>
						<option value="Staf Pendukung">Staf Pendukung</option>
					</select>
				</div>


				<div class="form-group">
					<button type="submit" class="btn btn-danger" name="action"
						value="update">Simpan</button>
				</div>
			</form>
		</div>
	</div>

	<div th:include="footer :: footer"></div>
</body>
</html>
